.bottombar {
    background: var(--bottom-bar);
    transition: all .3s;
    border-radius: 10px;
    position: absolute;
    width: 97.6%;
    height: 69px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.bottombar-icons {
    background: transparent;
    border: none;
    transition: all .3s;
    margin-right: 10px;
    margin-left: 10px; 
}